<!DOCTYPE html>
{% spaceless %}
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8" />
    <title>{% block title '' %}</title>
    <meta name="description" content="{% block description '' %}" />
    <meta name="viewport" content="width=device-width" />
    {% block head '' %}
    {% block sheets '' %}
</head>
<body>
    {% block body '' %}
    {% block scripts '' %}
</body>
</html>
{% endspaceless %}
